{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
           }
        }]
    ],
    "plugins": [
    //     ["babel-plugin-dotenv", {
    //     "replacedModuleName": "babel-dotenv"
    //  }],
     ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "test": "./test"
        }
      }]
    ]
  
}